We got an email from [edsci.feedback@census.gov] that told us we can find 2000 and 2010 PUMAs as column in the 2008-2012 5 year estimates. This notebook will try this approach for PUMA 4001

In [2]:
from ingest.PUMS_request import make_GET_request
url_2000_PUMAs = 'https://api.census.gov/data/2012/acs/acs5/pums?get=SERIALNO,SPORDER,PWGTP&PUMA00=4001&ucgid=0400000US36'
PUMS_2000_PUMAs = make_GET_request(url_2000_PUMAs, 'test PUMA00 column')

In [3]:
PUMS_2000_PUMAs

           SERIALNO SPORDER PWGTP PUMA00  ST
0     2008000003546       1    25   4001  36
1     2008000003546       2    35   4001  36
2     2008000005548       1    21   4001  36
3     2008000005548       2    24   4001  36
4     2008000005548       3    22   4001  36
...             ...     ...   ...    ...  ..
5053  2011001494106       2     7   4001  36
5054  2011001494106       3     6   4001  36
5055  2011001494106       4     6   4001  36
5056  2011001494106       5     7   4001  36
5057  2011001494106       6     8   4001  36

[5058 rows x 5 columns]

Around 5k records from 2012 5-year estimates in NYS have PUMA00 of 4001

In [4]:
url_2010_PUMAs = 'https://api.census.gov/data/2012/acs/acs5/pums?get=SERIALNO,SPORDER,PWGTP&PUMA10=4001&ucgid=0400000US36'
PUMS_2010_PUMAs = make_GET_request(url_2010_PUMAs, 'test PUMA10 column')

In [5]:
PUMS_2010_PUMAs

           SERIALNO SPORDER PWGTP PUMA10  ST
0     2012000000776       1    24   4001  36
1     2012000010336       1    25   4001  36
2     2012000012721       1    18   4001  36
3     2012000012721       2    23   4001  36
4     2012000012721       3    23   4001  36
...             ...     ...   ...    ...  ..
1385  2012001441441       2    10   4001  36
1386  2012001444584       1    55   4001  36
1387  2012001461527       1    43   4001  36
1388  2012001491471       1    10   4001  36
1389  2012001491471       2    10   4001  36

[1390 rows x 5 columns]

Around 1.4k records from 2012 5-year estimates in NYS have PUMA10 of 4001

I would assume that 1/5th of all records in 2012 5-year estimates come from 2012, does this hold up?

In [6]:
PUMS_2010_PUMAs.shape[0]/PUMS_2000_PUMAs.shape[0]

0.2748121787267695

More than 1/5th but somewhat close. 

Next compare to 2015-2019 5 year estimates

In [7]:
url_2019_PUMAs = 'https://api.census.gov/data/2019/acs/acs5/pums?get=SERIALNO,SPORDER,PWGTP&ucgid=7950000US3604001'
PUMS_2019_PUMAs = make_GET_request(url_2019_PUMAs, 'use existing query for comparison')

In [13]:
estimates_2012_total= PUMS_2010_PUMAs.shape[0] +PUMS_2000_PUMAs.shape[0]
print(f'records in 2019 5-year estimates PUMA 4001 {PUMS_2019_PUMAs.shape[0]}')
print(f'records in 2012 5-year estimates PUMA 4001 {estimates_2012_total}')
print(f'{round((PUMS_2019_PUMAs.shape[0]-estimates_2012_total)/(estimates_2012_total), 3)*100} % increase 2012-2019')

records in 2019 5-year estimates PUMA 4001 7150
records in 2012 5-year estimates PUMA 4001 6448
10.9 % increase 2012-2019

Close enough to pass smell test to me.