In [6]:
import pandas as pd
from aggregate.PUMS.count_PUMS_households import PUMSCountHouseholds

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import sys
sys.path.append('../utils')
import wd_management
wd_management.set_wd_root()

called set_wd_root. current working directory is /Users/tedu/Workspace/EDM/EDDT/db-equitable-development-tool/notebooks

In [7]:
result = PUMSCountHouseholds(limited_PUMA=True, household=True)

df = result.PUMS

df.head()

iterated to household_income_bands
assigning indicator of household_income_bands

,SERIALNO,SPORDER,WGTP,HINCP,NPF,HHT,PUMA,ST,WGTP1,WGTP2,...,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80,household_income_bands
person_id,,,,,,,,,,,,,,,,,,,,,
20150000039801,2015000003980,1,9,23400,4,Married couple household,4001,36,10,3,...,3,3,8,9,15,8,10,9,10,ELI
20150000115581,2015000011558,1,17,147000,1,Nonfamily household: Male householder: Not liv...,4001,36,4,18,...,27,18,5,29,27,6,17,17,5,HI
20150000134321,2015000013432,1,24,53004,3,Married couple household,4001,36,22,7,...,39,28,38,38,6,22,7,24,21,LI
20150000162091,2015000016209,1,40,158200,8,"Other family household: Female householder, no...",3701,36,12,11,...,9,37,48,12,39,51,34,9,36,MIDI
20150000251521,2015000025152,1,29,125200,5,"Other family household: Female householder, no...",3701,36,53,8,...,51,8,9,11,9,57,26,26,25,MI

In [9]:
df.loc[(df.HINCP > 79597)& (df.HINCP < 119395) & (df.NPF == 4)].household_income_bands

person_id
20150000921351    MI
20150012478721    MI
20150012675941    MI
20160013596851    MI
20170008054051    MI
                  ..
2019HU04290491    MI
2019HU05264201    MI
2019HU06044301    MI
2019HU08331961    MI
2019HU12553351    MI
Name: household_income_bands, Length: 225, dtype: object

 MI is the right classification for the household income between 79597 and 119395 members with 4

## Also taking a look at the the fraction calculation

In [10]:
agg = result.aggregated

agg.head()

,ELI-count,ELI-count-CV,ELI-count-MOE,ELI-fraction,ELI-fraction-CV,ELI-fraction-MOE,ELI-fraction-denom,HI-count,HI-count-CV,HI-count-MOE,...,MIDI-fraction-CV,MIDI-fraction-MOE,MIDI-fraction-denom,VLI-count,VLI-count-CV,VLI-count-MOE,VLI-fraction,VLI-fraction-CV,VLI-fraction-MOE,VLI-fraction-denom
PUMA,,,,,,,,,,,,,,,,,,,,,
4001,14924.0,0.043320,828.538548,0.225146,0.041956,0.012106,66286.0,20276.0,0.027331,710.183334,...,0.053198,0.007905,66286.0,6281.0,0.079412,639.219961,0.094756,0.078643,0.009550,66286.0
3701,9962.0,0.047777,609.962781,0.232301,0.046889,0.013959,42884.0,7425.0,0.051676,491.722564,...,0.066825,0.010652,42884.0,5801.0,0.065500,486.943068,0.135272,0.064697,0.011216,42884.0
4101,14164.0,0.038136,692.237020,0.199468,0.037002,0.009459,71009.0,14062.0,0.030809,555.216445,...,0.045818,0.008672,71009.0,8697.0,0.051515,574.168654,0.122477,0.050577,0.007939,71009.0
3801,21235.0,0.037073,1008.902150,0.277002,0.035794,0.012707,76660.0,9481.0,0.052415,636.866911,...,0.068334,0.008572,76660.0,11265.0,0.060894,879.108540,0.146948,0.059489,0.011203,76660.0
3901,6815.0,0.070823,618.554371,0.116970,0.070258,0.010532,58263.0,14817.0,0.038987,740.307393,...,0.052148,0.011062,58263.0,6105.0,0.073544,575.396812,0.104783,0.072663,0.009758,58263.0

In [12]:
#ib_ = ['ELI', 'VLI', "LI", 'MI', 'MIDI', 'HI']

agg['ELI-count'] / agg['ELI-fraction'] == agg['VLI-count'] / agg['VLI-fraction']

PUMA
4001    True
3701    True
4101    True
3801    True
3901    True
dtype: bool