# Rpy2 Test
Try this package out, it seems to be the most popular. Instead of calling entire R scripts from the python code this provides a pythonic way to access R packages which will make development easier

In [75]:
%reset -f

In [76]:
import rpy2
import rpy2.robjects as robjects
import rpy2.robjects.packages as rpackages
from rpy2.robjects.vectors import StrVector

from rpy2.robjects import r, pandas2ri
pandas2ri.activate()

Note that in python script we will want to use a path based on file code was run from using something more like 
`dir_path = os.path.dirname(os.path.realpath(__file__))`

In [77]:
import os
cwd = os.getcwd()
data_dir = cwd.rsplit('/', 1)[0] +'/data'

In [78]:
f'read.csv("{data_dir}/HVS_data.csv", header=True)'

'read.csv("/Users/alexanderweinstein/Documents/Data_Products/db-equitable-development-tool/data/HVS_data.csv", header=True)'

In [79]:

data = robjects.r(f'read.csv("{data_dir}/HVS_data.csv", header=TRUE)')
data.head()

,recid,boro,uf1_1,uf1_3,uf1_4,uf1_5,uf1_6,uf1_7,uf1_8,uf1_9,...,fw74,fw75,fw76,fw77,fw78,fw79,fw80,il30per,il50per,il80per
1,1,1,9,9,9,1,9,9,9,9,...,37635401,33263895,10348898,11446240,32161257,9745805,13739972,21800,36250,58000
2,1,1,9,9,9,1,9,9,9,9,...,8270628,23614216,42797335,19594333,8525261,36330659,28940264,27200,45300,72500
3,1,1,9,9,9,1,9,9,9,9,...,8270628,23614216,42797335,19594333,8525261,36330659,28940264,24500,40800,65250
4,1,1,9,9,9,1,9,9,9,9,...,35934838,10027288,46175949,57167298,43401081,10664017,66729558,21800,36250,58000
5,1,1,9,9,9,1,9,9,9,9,...,50290497,10630692,32310018,70148673,42706530,10137630,64932695,21800,36250,58000

In [80]:
type(data)

pandas.core.frame.DataFrame

Ok sick could load in pandas from .pkl to see if they match?  Save that for later I think

For now do data cleaning in python instead of R

In [81]:
weights_correction = 10**5
data['fw'] = data['fw']/weights_correction

In [82]:
rep_weights_columns = [f'fw{i}' for i in range(1,81)]
data[rep_weights_columns] = data[rep_weights_columns]/weights_correction

Add occupancy final column

In [83]:
data['occ_final'] = data['recid']==1

Use survey package

In [84]:
survey_package = rpackages.importr('survey')
base = rpackages.importr('base')

In [ ]:
survey_package = rpackages.importr('survey')
hu_design = survey_package.svrepdesign(variables=data.iloc[:, :188],
                          repweights=data[rep_weights_columns],
                          weights=data['fw'], combined_weights = True, type='other',
                         scale=4/80, rscales=1)

In [103]:
hu_design[4]

Rlang( svrepdesign.default(combined_weights = TRUE, type = "other",  )

In [86]:
occ_subset = base.subset(hu_design, data['occ_final']==1)
survey_total = survey_package.svytotal(data['occ_final'], design=occ_subset)

In [87]:
survey_total

array([3109954.62348])

Ok correct total but no standard error. Close but not there yet. What happens when we group by sub borough area?

In [88]:
by_sub_borough_area = survey_package.svyby(x=data['occ_final'], by=data[['boro','cd']], 
                                           design=hu_design, FUN=survey_package.svytotal)
by_sub_borough_area

      boro  cd            V1           se
1.1      1   1   48974.64704  2261.013620
2.1      2   1   63928.61033  2963.900921
3.1      3   1   81269.27401  3000.429807
4.1      4   1   74744.73583  2710.182060
5.1      5   1   59787.02995  2994.213641
1.2      1   2   54465.07901  2894.219802
2.2      2   2   56126.65940  2836.227055
3.2      3   2   74125.68599  3313.716272
4.2      4   2   50870.50410  2296.777069
5.2      5   2   46583.72836  2204.576701
1.3      1   3   47437.49000  2221.056420
2.3      2   3   51147.04471  2517.059548
3.3      3   3   76643.96901  2929.861049
4.3      4   3   52941.20603  1988.433987
5.3      5   3   54622.23381  2227.149469
1.4      1   4   44371.45215  2155.257075
2.4      2   4   41756.61460  2195.838344
3.4      3   4   78147.46895  2950.143861
4.4      4   4   50463.43453  2240.936780
1.5      1   5   48959.68574  2137.189035
2.5      2   5   55299.01311  2273.493035
3.5      3   5  100685.38700  3835.416181
4.5      4   5   65619.56082  2257.012851
1.6      1   6   44405.98170  2598.518262
2.6      2   6   46707.95252  2428.054057
3.6      3   6  108733.10616  2897.683462
4.6      4   6   48785.60705  2531.691990
1.7      1   7   63907.64427  2882.485612
2.7      2   7   40484.37685  2395.887471
3.7      3   7   45352.80328  2459.183145
4.7      4   7   85967.15113  3084.963979
1.8      1   8   46611.89979  2939.910942
2.8      2   8   47014.45160  2873.153774
3.8      3   8   54494.86618  2486.489944
4.8      4   8   53759.75942  1964.424814
1.9      1   9   43959.38881  2859.824903
2.9      2   9   42047.49351  2178.082616
3.9      3   9   49172.74973  2355.350045
4.9      4   9   45627.46098  2501.617831
1.10     1  10   42871.66735  2790.440580
2.10     2  10   51616.38743  2437.744560
3.10     3  10   73371.22135  2932.518752
4.10     4  10   38332.46885  2043.083696
2.11     2  11   72626.04264  3188.196062
4.11     4  11   41241.74351  1803.610982
2.12     2  12   46288.98086  2224.347906
4.12     4  12   70571.30670  2733.692824
2.13     2  13   49360.25769  2922.018296
4.13     4  13   59858.47377  2078.241821
2.14     2  14   56801.51888  2400.576815
4.14     4  14   42858.50719  2804.306461
2.15     2  15   60806.21362  2665.028387
2.16     2  16   42110.92368  1982.961688
2.17     2  17   44388.62992  1943.595201
2.18     2  18   70847.07258  2676.882643

Ok same measurements of total housing units as R but different standard errors.

In [111]:
data['fw'][:10]

1     340.40517
2     245.77110
3     245.77110
4     370.98358
5     370.41707
6     203.19779
7     242.22272
8     317.84919
9     223.39117
10    247.05536
Name: fw, dtype: float64